body {
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
        'sidebar header'
        'sidebar main';
}

.main {
    background-color: #919191;
    grid-area: main;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    grid-template-areas:
        'b1 b2 b3'
        'b4 b4 b5'
        'b4 b4 b6';


}

.header {
    background-color: #c0cbc9;
    grid-area: header;
}

.sidebar {
    background-color: #1c1f23;
    grid-area: sidebar;
}

.box {
    background-color: rgb(238, 227, 227);
    border-radius: 10px;
}

.box:nth-child(1) {
    grid-area: b1;
}

.box:nth-child(2) {
    grid-area: b2;
}

.box:nth-child(3) {
    grid-area: b3;
}

.box:nth-child(4) {
    grid-area: b4;
}

.box:nth-child(5) {
    grid-area: b4;
}

.box:nth-child(6) {
    grid-area: b5;
}

.box:nth-child(7) {
    grid-area: b4;
}

.box:nth-child(8) {
    grid-area: b4;
}

.box:nth-child(9) {
    grid-area: b6;
}