html {
    background-color: #181818;
    color: silver;
}

.container {
    display: grid;
    /* grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px; */
    grid-template: 50px /50px 50px 50px;
}

.container1 {
    display: grid;
    grid-auto-flow: column;
}

.container2 {
    display: grid;
    grid-auto-flow: row;
}